{% extends "layout.html" %}

{% block title %}Tempanálise // Certificados{% endblock %}

{% block content %}

<h1 class="section-title">Certificados</h1>

<section class="certificados">
    <div class="certificados-wrapper">

        <!-- Primeira linha de imagens -->
        <div class="certificados-row">
            <img src="/static/img/selo_scoring_2023.png" alt="Selo Scoring 2023">
            <img src="/static/img/selo_scoring_2024.png" alt="Selo Scoring 2024">
            <img src="/static/img/selo_scoring_2025.png" alt="Selo Scoring 2025">
        </div>

        <!-- Frase -->
        <p class="certificados-distincao">
            A Tempanálise, Lda foi distinguida pela SCORING com a Certificação “TOP 5% MELHORES PME DE PORTUGAL”,
            edição 2025. A SCORING certifica que a empresa cumpriu os requisitos de acesso à certificação e obteve,
            de acordo com o método ScorePME e no exercício fiscal de 2024, um índice de desempenho e solidez
            financeira superior a  80%, evidenciando ainda consistência nas vertentes económica e financeira, o que
             só é acessível a menos de 5% das empresas nacionais.
        </p>

        <!-- Segunda linha de imagens -->
        <div class="certificados-row">
            <img src="/static/img/ipq.png" alt="Instituto Português da Qualidade">
            <img src="/static/img/ipac.png" alt="Instituto Português de Acreditação">
            <img src="/static/img/tuv.png" alt="TÜV">
        </div>

        <!-- Frase -->
        <div class="certificados-quote">
            <p>
                “A distinção recebida é o reconhecimento do trabalho realizado ao longo dos anos pela nossa equipa.
                Trabalhamos diariamente para que a nossa empresa continue a ser a primeira escolha dos nossos clientes.“
            </p>
            <h3>— Vasco Romão, Sócio-Gerente</h3>
        </div>


    </div>
</section>


{% endblock %}